.missingValue {
    background-color: tomato;
}

.differentValue {
    background-color: lightpink;
}

.sharedValue {
    background-color: papayawhip;
}

.popularValue {
    background-color: palegreen;
}

.sameValue {
    background-color: mediumspringgreen;
}

td {
    font-family: Consolas, 'Courier New', Courier, monospace;
    line-height: 1;
    padding: 0.1rem;
}

thead {
    font-weight: bold;
}

textarea {
    font-family: Consolas, 'Courier New', Courier, monospace;
    height: 100%;
}