.missingValue {
    background-color: tomato;
}

.differentValue {
    background-color: lightpink;
}

.sharedValue {
    background-color: papayawhip;
}

.popularValue {
    background-color: palegreen;
}

.sameValue {
    background-color: mediumspringgreen;
}

.title-cell {
    vertical-align: top;
}

.options {
    padding-top: 3rem;
}

.fixed-column {
    width: 10rem;
}

.card-content {
    height: 100%;
}

.empty-row {
    color: gray;
}

.card {
    min-width: 15rem;
}

.message-actions {
    display: grid;
    grid-template-columns: repeat(auto-fill, 10.2rem);
    grid-auto-flow: row;
    gap: 0.2rem;
}

.message-actions button {
    max-width: 10rem;
}

.features {
    padding-top: 3rem;
}

body {
    background-color: ghostwhite;
}

thead tr td {
    font-family: Consolas, 'Courier New', Courier, monospace;
    font-size: 11pt;
    line-height: 1;
    padding: 0.1rem;
    word-break: break-all;
    border-radius: 0;
}

tbody tr td {
    font-family: Consolas, 'Courier New', Courier, monospace;
    font-size: 11pt;
    line-height: 1;
    padding: 0.1rem;
    word-break: break-all;
    border-radius: 0;
}

.table-heading {
    font-weight: bold;
}

textarea {
    font-family: Consolas, 'Courier New', Courier, monospace;
    font-size: 11pt;
    height: 100% !important;
    word-break: break-all;
}