.missingValue {
    background-color: tomato;
}

.differentValue {
    background-color: lightpink;
}

.sharedValue {
    background-color: papayawhip;
}

.popularValue {
    background-color: palegreen;
}

.sameValue {
    background-color: mediumspringgreen;
}

.title-cell {
    vertical-align: top;
}

.fixed-column {
    width: 10rem;
}

.card-content {
    height: 100%;
}

.input-field {
    height: 100%;
}

.empty-row {
    color: gray;
}

.card {
    min-width: 15rem;
}

body {
    background-color: ghostwhite;
}

tbody tr td {
    font-family: Consolas, 'Courier New', Courier, monospace;
    font-size: 11pt;
    line-height: 1;
    padding: 0.1rem;
    word-break: break-all;
}

.table-heading {
    font-weight: bold;
}

textarea {
    font-family: Consolas, 'Courier New', Courier, monospace;
    font-size: 11pt;
    height: 100% !important;
    word-break: break-all;
}