<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <title>Fixated</title>
    <meta name="author" content="Alex Taylor">
    <meta name="description" content="A formatting and comparison tool for FIX protocol messages">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-150387544-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-150387544-1');
    </script>

    <link rel="icon" type="image/svg+xml" href="images/favicon.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <div id="app">
        <table>
            <thead>
                <tr>
                    <td class="fixed-column title-cell" colspan="2">
                        <svg class="title" width="256" height="64" alt="Fixated" title="Fixated">
                            <image xlink:href="images/logo.svg" src="images/logo-small.png" width="256" height="64">
                            </image>
                        </svg>
                        <br />
                        Working with FIX protocol messages
                        <div class="options">
                            <div class="input-field">
                                <select v-model="replacementSeparator">
                                    <option value="0" selected>Pipe ("|")</option>
                                    <option value='1'>"^A"</option>
                                    <option value="2">^A (\x01)</option>
                                    <option value="3">New line ("\n")</option>
                                </select>
                                <label>Replace separators with</label>
                            </div>
                        </div>
                    </td>
                    <td v-for="(fixMessage, fixMessageIndex) in fixMessages" v-bind:key="fixMessageIndex">
                        <div class="card medium blue-grey darken-2">
                            <div class="card-content white-text">
                                <div class="input-field">
                                    <textarea @paste="onPaste($event, fixMessageIndex)"
                                        class="materialize-textarea white-text flow-text" v-model="fixMessage.text"
                                        placeholder="Put a FIX message here"></textarea>
                                    <!-- <label for="textarea1">FIX</label> -->
                                </div>
                            </div>
                            <div class="card-action message-actions">
                                <button @click="removeMessage(fixMessageIndex)"
                                    class="waves-effect waves-light btn-small red"><i
                                        class="material-icons left">remove</i>Remove</button>
                                <button @click="replaceSeparators(fixMessageIndex)"
                                    class="waves-effect waves-light btn-small teal lighten-2"><i
                                        class="material-icons left">repeat</i>Separator</button>
                                <button @click="duplicateMessage(fixMessageIndex)"
                                    class="waves-effect waves-light btn-small blue"><i
                                        class="material-icons left">file_copy</i>Clone</button>
                                <button @click="addMessage(fixMessageIndex)"
                                    class="waves-effect waves-light btn-small green"><i
                                        class="material-icons left">add</i>New</button>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="table-heading white">
                    <td class="fixed-column">Tag</td>
                    <td class="fixed-column">Name</td>
                    <td v-for="(fixMessage, fixMessageIndex) in fixMessages" v-bind:key="fixMessageIndex"></td>
                </tr>
            </thead>
            <tbody class="white flow-text">
                <tr v-for="field in formattedFix" v-if="field.number > 0">
                    <td>{{ field.number }}</td>
                    <td>{{ field.name }}</td>
                    <td v-for="messageField in field.annotatedValues"
                        v-bind:class="[{ missingValue: messageField.popularity == 0 }, { differentValue: messageField.popularity == 1 }, { sharedValue: messageField.popularity == 2 }, { popularValue: messageField.popularity == 3 }, { sameValue: messageField.popularity == 4 }]">
                        {{ messageField.values.join(" / ") }}</td>
                </tr>
                <tr v-if="formattedFix.length == 1 && formattedFix[0].number == -1" class="empty-row">
                    <td></td>
                    <td></td>
                    <td v-bind:colspan="fixMessages.length">Put a FIX message in the field above</td>
                </tr>
            </tbody>
        </table>

        <ul class="collapsible features">
            <li>
                <div class="collapsible-header blue-grey lighten-4"><i
                        class="material-icons">format_list_numbered</i>Format FIX messages</div>
                <div class="collapsible-body"><span>Messages are converted into a sorted, easy-to-read table.</span>
                </div>
            </li>
            <li>
                <div class="collapsible-header blue-grey lighten-4"><i class="material-icons">compare_arrows</i>Compare
                    FIX messages</div>
                <div class="collapsible-body"><span>Messages are colored by similarities and differences when multiple
                        messages are viewed.</span></div>
            </li>
            <li>
                <div class="collapsible-header blue-grey lighten-4"><i class="material-icons">repeat</i>Replace
                    separators</div>
                <div class="collapsible-body"><span>"|" (pipe), ^A (0x01, SOH), "^A" (the control-escaped version of
                        0x01), and "\n" (new line) are all recognized as field separators, and can be replaced with the
                        'Separator' button.</span></div>
            </li>
            <li>
                <div class="collapsible-header blue-grey lighten-4"><i class="material-icons">cloud_off</i>Private,
                    client-side processing</div>
                <div class="collapsible-body"><span>All processing is performed on your device so it is safe to use with
                        your or your client's data.</span></div>
            </li>
        </ul>
    </div>
    <p><svg class="title" width="64" height="16" alt="Fixated" title="Fixated">
            <image xlink:href="images/logo.svg" src="images/logo-small.png" width="64" height="16">
            </image>
        </svg> by Alex Taylor (<a href="https://twitter.com/thatalextaylor">@thatalextaylor</a>). Code available on <a
            href="https://github.com/fixated-tech/fixated-tech.github.io">GitHub</a>. Copyright ©2019 Alex Taylor.
        Distributed under the <a
            href="https://raw.githubusercontent.com/fixated-tech/fixated-tech.github.io/master/LICENSE">MIT license</a>.
    </p>
    <script src="https://cdn.jsdelivr.net/npm/vue" type="text/javascript"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"> type = "text/javascript"</script>
    <script src="js/script.js" type="text/javascript"></script>
    <script src="js/constants.js" type="text/javascript"></script>
</body>

</html>